<div class="menu">
<ul class="m1">
<li><a href="/">首页</a></li>
<li><a href="/events">活动</a></li>
<li><a href="/topics">专题</a></li>
<li><a href="#" class="current">指南</a></li> 
<li class="ml_1"><a href="/stories">故事</a></li>
<li class="menu_last"><a href="/donation" class="btn_menu">捐赠</a></li>
</ul>
</div>
</div>

</div>
</div>
<div class="top_line2"></div>
<div class="con_w960">
<div class="prompt">您现在的位置：<a href="/">首页</a> > <span>指南</span></div>
<div class="review">
  <ul class="guide_list">
<% @files.each do |file| %>
	<li>
	<span class="gl_img"><%= image_fu(file.picture, "150x280px") %></span>
	<span class="gl_title"><%= file.name %></span>
	<span class="gl_button">
		<%= link_to "点击下载",file.url %>   
	</span>
	</li>
<% end %>

</ul>





</div>

</div>
