<div class="menu">
<ul class="m1">
<li><a href="/" class="current">首页</a></li>
<li><a href="/events">活动</a></li>
<li><a href="/topics">专题</a></li>
<li><a href="/downloads">指南</a></li> 
<li class="menu_last"><a href="/stories">故事</a></li>
</ul>
</div>
</div>

</div>
</div>
<div class="top_line2"></div>
<div class="con_w960">
<div class="prompt">您现在的位置：<a href="/">首页</a> > <span>关于我们</span></div>

<div class="ac_con">
<div class="st_left">
<div class="au_con">
<div class="mission_title"><span class="mt_3">关于我们</span></div>
<div class="scc_1">
<p>益动⽣生活作为上海新途社区健康促进社旗下的⼀一个健康品牌,旨在发动公众参与和组织以运动为主要形式的倡导活动,在全社会推⼲⼴广健康⽣生活⽅方式,提⾼高公众对慢性疾病的预防意识和健康⾃自我管理能⼒力;并通过设⽴立专项基⾦金和组织筹款活动,帮助社区慢性疾病的预防治疗、教育研究、和项⺫⽬目的可持续发展。</p>
<p class="au_bt">我们的愿景</p>
<p>每个⼈人都能有⾜足够的意识和⾏行动来维护⾃自⾝身健康、预防慢性疾病,并能得到全社会的充分⽀支持。</p>
<p class="au_bt">我们的使命</p>
<p>通过可持续的健康倡导活动,提⾼高⼤大众对慢性疾病的预防意识和健康⾃自我管理能⼒力,为疾病患者尤其是弱势⼈人
群提供更多⽀支持。</p>
<p class="au_bt">我们致力于</p>
<p>提供慢性疾病预防的相关知识<br />
提供开展健康运动的组织⽅方案<br />
提供宣传及筹款⼯工具包</p>
<p class="au_bt">我们的特色活动</p>
<p>选择在健康主题节⽇日开展活动,活动更直观更有针对性:<br />
世界癌症⽇日、世界⾼高⾎血压⽇日、世界糖尿病⽇日……<br />
选择简单易⾏行的预防活动形式,活动更贴近⽣生活更有效:<br />
健⾛走、骑⻋车、跑步……</p>
</div>
</div>
</div>




<div class="acc_right">

<%= render "refinery/events/events/events_list"%>
</div>


</div>
</div>
