<div class="menu">
<ul class="m1">
<li><a href="/" class="current">首页</a></li>
<li><a href="/events">活动</a></li>
<li><a href="/topics">专题</a></li>
<li><a href="/downloads">指南</a></li> 
<li class="ml_1"><a href="/stories">故事</a></li>
<li class="menu_last"><a href="/donation" class="btn_menu">捐赠</a></li>
</ul>
</div>
</div>

</div>
</div>
<div class="top_line2"></div>
<div class="con_w960">
<div class="prompt">您现在的位置：<a href="/">首页</a> > <span>关于我们</span></div>

<div class="ac_con">
<div class="st_left">
<div class="au_con">
<div class="mission_title"><span class="mt_3">关于我们</span></div>
<div class="scc_1">
<p>益动生活旨在面向公众发起以运动为主要形式的健康倡导活动，为公众开展筹款活动、组织和参与运动提供支持，在全社会推广健康生活方式，提升公众对慢性疾病的预防意识和健康自我管理能力；并通过公众筹款，支持新途健康促进专项基金在社区开展健康促进项目。</p>
<p class="au_bt">我们的愿景</p>
<p>每个人都能有足够的意识和行动维护自身健康、预防慢性疾病，并能得到全社会的充分支持。</p>
<p class="au_bt">我们的使命</p>
<p>通过可持续的健康倡导活动，提升公众对慢性疾病的预防意识和健康自我管理能力，为疾病患者尤其弱势人群提供更多支持。</p>
<p class="au_bt">我们致力于</p>
<p>提供慢性疾病预防的相关知识<br />
提供开展健康运动的组织方案<br />
提供宣传及筹款工具包</p>
<p class="au_bt">我们的特色活动</p>
<p>选择在健康主题节日开展活动，活动更直观更有针对性：<br />
世界高血压日、世界糖尿病日、 世界癌症日…… <br />
选择简单易行的预防活动形式，活动更贴近生活更有效：<br />
健走、骑车、跑步…… </p>
</div>
</div>
</div>




<div class="acc_right">

<%= render "refinery/events/events/events_list"%>
</div>


</div>
</div>
