<div class="menu">
<ul class="m1">
<li><a href="/" class="current">首页</a></li>
<li><a href="/events">活动</a></li>
<li><a href="/topics">专题</a></li>
<li><a href="/downloads">指南</a></li> 
<li class="ml_1"><a href="/stories">故事</a></li>
<li class="menu_last"><a href="/donation" class="btn_menu">捐赠</a></li>
</ul>
</div>
</div>

</div>
</div>
<div class="top_line2"></div>
<div class="con_w960">
<div class="prompt">您现在的位置：<a href="/">首页</a> > <span>捐赠帐户</span></div>

<div class="ac_con">
<div class="st_left">
<div class="au_con2">
<div class="mission_title"><span class="mt_3">捐赠帐户</span></div>
<div class="scc_1">

<p class="ct_con2">银⾏行帐户:<br />
开户⾏行:交通银⾏行上海浦东分⾏行 <br />
户名:上海公益事业发展基⾦金会新途健康促进专项基⾦金 <br />
账号:8800665800181026</p>
在线捐赠平台：<a href="http://www.lianquan.org.cn/">http://www.lianquan.org.cn/</a></p>


<p class="ct_con">该基金用于在社区开展慢性疾病的研究、教育、预防和医疗。我们期待您的支持！</p>


</div>
</div>
</div>




<div class="acc_right">

<%= render "refinery/events/events/events_list" %>

</div>


</div>
</div>

