<div class="menu">
<ul class="m1">
<li><a href="/" class="current">首页</a></li>
<li><a href="/events">活动</a></li>
<li><a href="/topics">专题</a></li>
<li><a href="/downloads">指南</a></li> 
<li class="ml_1"><a href="/stories">故事</a></li>
<li class="menu_last"><a href="/donation" class="btn_menu">捐赠</a></li>
</ul>
</div>
</div>

</div>
</div>
<div class="top_line2"></div>
<div class="con_w960">
<div class="prompt">您现在的位置：<a href="/">首页</a> > <span>捐赠帐户</span></div>

<div class="ac_con">
<div class="st_left">
<div class="au_con2">
<div class="mission_title"><span class="mt_3">捐赠帐户</span></div>
<div class="scc_1">


<p class="au_bt">关于新途</p>
<p class="ct_con2">上海新途社区健康促进社是一家由社会力量发起的、专业开展社区健康促进项目的非营利机构。新途成立于2006年，注册于上海市浦东新区民政局，业务主管单位是上海市浦东新区社会发展局卫生处。新途的愿景是在宜居、和谐、繁荣的社区中，人人都享有健康而富有意义的生活。新途的使命是通过对社区服务机构开展能力建设，促进社区成员的健康与发展，尤其是弱势群体的健康与发展。<br />官方网站：<a href="http://www.xintu.org/" target="_blank">www.xintu.org</a></p>

<p class="au_bt">关于新途健康促进专项基金</p>
<p class="ct_con2">新途健康促进专项基金于2012年在上海公益事业发展基金会设立，致力于成为社区健康发展的推动力。通过开展健康倡导活动和社区筹资培训，影响公众提升自我健康维护意识和个人筹款能力。所筹款项用于支持新途在社区开展健康促进项目，覆盖全国三个城市（上海、北京、青岛）、20多个社区、10万户家庭。受益人群包括慢病患者、失能失智人士及家庭照料者、流动人口家庭（特别是妇女儿童）、残障人士，项目包括：<br />
常青藤计划：慢病患者健康干预<br /> 咏年楼计划：老年人失能失智预防<br />
新市民健康关爱计划：流动人口家庭健康<br />
阳光关爱计划：残疾人社区服务机构能力建设<br />
清心驿站：社区精神健康促进 <br />
科技驿站：科技产品在社区的应用和普及<br />
老友计划：青年与弱势人群的无障碍沟通 <br />
益动生活：健康生活方式理念的社区推广 
</p>

<p class="au_bt">捐赠帐户</p>

<p class="ct_con2">
开户行：交通银行上海浦东分行 <br />
户名：上海公益事业发展基金会新途健康促进专项基金 <br />
账号：8800665800181026<br />
在线捐赠平台：<a href="http://www.lianquan.org.cn/" target="_blank">http://www.lianquan.org.cn/</a></p>
</div>
</div>
</div>




<div class="acc_right">

<%= render "refinery/events/events/events_list" %>

</div>


</div>
</div>

